@charset "UTF-8";

header{
    
    background-color: rgb(8, 8, 185);
    
}

.l{
    
    margin-top: 2%;
    text-align: center;
                
    
}

.m{
    margin: 1%;
}


p{
	margin-left: 25%;
	
	background-color: red ;
}
