@charset "UTF-8";
header{
    
    background-image: linear-gradient(-60deg, rgb(40, 136, 245),white,rgb(40, 136, 245));
    
}
.heaterImg{
    margin-top: 12%;
}
textarea {
    width: 100%;
    height: 100px;
  }
  fieldset{
    background-color:rgb(176, 210, 248);
  max-width:100%;
  padding:16px;
  
  }

  #a{
    margin-top: 2%;
  
  }

  #btn1 {
    margin-top: 1%;
    width: 49%;
  }


  #btn2 {
    margin-top: 1%;
    width: 100%;
  }